@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global Styles */
:root {
  --text-color: black;
  --background-color: #65ccb8;
  --link-color: #003699;
  --dark-link-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--dark-link-color);
}

.jumbotron {
  background-color: var(--background-color);
}
