.portfolio-box {
  background-color: white;
  border-radius: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media (max-width: 800px) {
  .portfolio-box {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
}
