.portfolio-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  /* border: 5px solid black; */
}

@media (max-width: 800px) {
  .portfolio-frame {
    flex-direction: column;
    height: auto;
  }
}
