.portfolio-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

@media (max-width: 800px) {
  .portfolio-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
  }
}
