@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .Login {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
