.about-ul {
  margin-left: 4%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .about-ul {
    margin-left: 9%;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .about-ul {
    margin-left: 7%;
  }
}
