.register {
  margin-top: 20%;
}

.register-error {
  margin-top: 10%;
}

@media all and (min-width: 480px) {
  .register {
    padding: 60px 0;
  }

  .register form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .register {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
  .register {
    margin-top: 0;
  }
}
